@using SignalR.DataAccessLayer.Concrete;
@model List<SignalR.EntityLayer.Entities.AppUser>
@{
    ViewData["Title"] = "Admins";
    ViewData["ActiveAdmin"] = "active";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    var context = new SignalRContext();
}
<div class="content">
    <div class="container-fluid">
        <div class="d-flex">
            <h4 class="page-title">Admins</h4>
            <a style="height:40px;" href="/Admin/CreateAdmin" class="btn btn-primary"><i class="fa-solid fa-plus mr-1"></i> Add Admin</a>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th id="thtext" scope="col">Name</th>
                                <th id="thusername" scope="col">Username</th>
                                <th id="throle" scope="col">Role</th>
                                <th id="themail" scope="col">Email</th>
                                <th id="thnumber" scope="col">Phone</th>
                                <th id="thcontact" scope="col">Contact</th>
                                <th id="thtext" scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                var value = context.UserRoles.Where(x => x.UserId == item.Id).Select(x => x.RoleId).FirstOrDefault();
                                var rolename = context.Roles.Where(x => x.Id == value).Select(x => x.Name).FirstOrDefault();
                                <tr>
                                    <td id="tdtext" style="font-weight:bold"><img id="imgsize" src="@item.ImageURL" style="border-radius:50%; margin-right:10px;" /> @item.Name @item.Surname </td>
                                    <td id="tdusername">@item.UserName</td>
                                    <td id="tdrole">@rolename</td>
                                    <td id="tdemail"><a href="mailto:@item.Email">@item.Email</a></td>
                                    <td id="tdnumber"><a href="tel:@item.PhoneNumber">@item.PhoneNumber</a></td>
                                    <td id="tdcontact">
                                        <a href="tel:@item.PhoneNumber"><i style="color:white; padding:7px; border-radius:50%; font-size:10px;" class="fa-solid fa-phone bg-primary"></i></a>
                                        <a href="mailto:@item.Email"><i style="color:white; padding:7px; border-radius:50%; font-size:10px;" class="fa-solid fa-envelope bg-primary"></i></a>
                                    </td>
                                    <td>
                                        <a href="/Admin/DeleteAdmin/@item.Id" id="adminbtn" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></a>
                                        <a href="/Role/AssignRole/@item.Id" id="adminbtn" class="btn btn-outline-success"><i class="fa-solid fa-user-check"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

