@model List<SiqnalRWebUI.Dtos.BookingDtos.ResultBookingDto>
@{
	ViewData["Title"] = "Bookings";
	ViewData["ActiveBooking"] = "active";
	Layout = "~/Views/AdminLayout/Index.cshtml";
	int count = 0;
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Bookings</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						<table class="table mt-3">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Name</th>
									<th scope="col">Phone</th>
									<th scope="col">Person Count</th>
									<th scope="col">Date</th>
									<th scope="col">Status</th>
									<th scope="col">Delete</th>
									<th scope="col">Update</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									count++;
									<tr>
										<td>@count</td>
										<td>@item.Name</td>
										<td>@item.Phone</td>
										<td>@item.PersonCount</td>
										<td>@item.Date.ToString("dd MMMM yyyy")</td>
										<td>Booking received</td>
										<td><a href="/Booking/DeleteBooking/@item.BookingID" class="btn btn-outline-danger">Delete</a></td>
										<td><a href="/Booking/UpdateBooking/@item.BookingID" class="btn btn-outline-success">Update</a></td>
									</tr>
								}

							</tbody>
						</table>
						<a href="/Booking/CreateBooking" class="btn btn-outline-primary">+ Add Booking</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
